.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  background-image: url(https://i.pinimg.com/564x/b2/92/9a/b2929a88a9bf9e57b0da912de30a21fe.jpg);
}
